
    <div style="background-color: #F5F5F5; border-bottom: 2px solid #AAA; overflow: auto;">
      <main class="container">
      <div class="mt-5 mb-5 text-center">
          <img src="profile.jpg" alt="profile" class="rounded-circle profile mr-3 mb-sm-1 float-sm-left" />
          <div class="text-center text-sm-left">
            <h2>Francis Engelmann</h2>
            <p align="justify">
            I am an assistant professor at the <a href="https://www.usi.ch/en">University of Lugano</a> (USI) in Switzerland.
            Previously, I was a  postdoc at <a href="https://www.stanford.edu">Stanford University</a> with <a href="https://profiles.stanford.edu/leonidas-guibas">Prof. Leonidas Guibas</a> and <a href="https://web.stanford.edu/~bohg/">Prof. Jeannette Bohg</a>.
            Before that I was a visiting researcher with <a target="_blank"  href="https://federicotombari.github.io/">Federico Tombari</a> at Google Zurich, and postdoctoral research fellow at
            <a target="_blank" href="https://ethz.ch/en.html">ETH Zurich<a> working with <a href="https://people.inf.ethz.ch/marc.pollefeys/">Prof. Marc Pollefeys</a>.
            I obtained my PhD
             in the
            <a target="_blank" href="https://www.vision.rwth-aachen.de/">Computer Vision Group</a>
            of
            <a target="_blank" href="https://scholar.google.com/citations?user=ZcULDB0AAAAJ">Prof. Dr. Bastian Leibe</a>
            at
            <a target="_blank" href="https://www.rwth-aachen.de/go/id/a/?lidx=1">RWTH Aachen University</a>
            and worked at <a target="_blank" href="https://x.company/projects/intrinsic/">Google X</a> with
            <a target="_blank" href="https://research.google/people/106293/">Martin Bokeloh</a>,
            Google Research with
            <a target="_blank" href="http://www.krematas.com/">Kostas Rematas</a>, and Apple in California.
          </p>
          <p align="center">
            <a target="_blank" href="https://scholar.google.com/citations?user=-xOsXi8AAAAJ"><i class="ai ai-google-scholar-square ai-2x"></i></a>
            &nbsp;
            <a target="_blank" href="https://github.com/francisengelmann"><i class="fab fa-github" style="font-size:32px"></i></a>
            &nbsp;
            <a target="_blank" href="https://www.linkedin.com/in/francis-engelmann-8b4b5467/"><i class="fa-brands fa-linkedin" style="font-size:32px"></i>
            </a>
            &nbsp;
            <a target="_blank" href="https://bsky.app/profile/francisengelmann.bsky.social"><i class="fa-brands fa-bluesky" style="font-size:32px"></i></a>
            &nbsp;
            <a target="_blank" href="https://twitter.com/FrancisEngelman"><i class="fab fa-twitter" style="font-size:32px"></i></a>
            &nbsp;
            <a target="_blank" href="mailto:engelmann@cs.stanford.edu"><i class="fa fa-envelope" style="font-size:32px"></i></a>
            </p>
          </div>
      </div>
      </main>
    </div>